<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ν”λ½ | μ™λ ¨λ μΈν…λ¦¬μ–΄ μ‹κ³µν€μ„ μ°Ύμ•„λ³΄μ„Έμ”</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('./modules/nav.ejs') %>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="bootstrap-themes.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <img src="<%=result.logo %>" width="50px" height="50px" />
          <h3 class="fw-bold text-body-emphasis lh-1 mb-3">
            <%= result.name %>
          </h3>
          <h2 class="fw-bold text-body-emphasis lh-1 mb-3">
            μΈν…λ¦¬μ–΄ μ² κ±°/μ„¤λΉ„ μ „λ¬Έ
          </h2>
          <p>π“<%= result.district%></p>
          <button type="button" class="btn btn-primary btn-sm px-4 me-md-2">
            DMλ¬Έμ
          </button>
          <p class="lead">
            π‘‹ κ²¬μ  λ¬Έμ μ‹ "ν”λ½μ—μ„ λ³΄κ³  μ—°λ½λ“λ Έμµλ‹λ‹¤."λΌκ³  ν•μ‹λ©΄ λ³΄λ‹¤
            μ›ν™ν• μƒλ‹΄μ„ ν•μ‹¤ μ μμ–΄μ”.
          </p>
          <p class="lead">
            μ „λ¬Έ μ‹κ³µν€λ“¤μ€ λ³΄ν†µ 2μ£Ό μ΄μƒμ μΌμ •μ΄ μ΅ν€μμµλ‹λ‹¤.<br />
            μµμ† 2μ£Όμ—μ„ μµλ€ ν• λ‹¬ μ „μ— λ―Έλ¦¬ μ‹κ³µ μΌμ •μ„ μμ•½ν•μ‹κΈΈ κ¶μ¥
            λ“λ¦½λ‹λ‹¤.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Project
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
              About
            </button>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <%- include("./modules/footer.ejs") %>
  </body>
</html>
